<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Explicit debug manifest to minimize physical device installation restrictions -->
    <application
        android:debuggable="true"
        android:testOnly="false"
        tools:replace="android:debuggable,android:testOnly" />

</manifest>
